
<%= simple_form_for(@feedback) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :feedback_form %>
    <%= f.input :rating %>
    <%= f.input :value %>
    <%= f.association :customer %>
    <%= f.association :merchant %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
