<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feedback_form.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @feedback_form.status %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @feedback_form.merchant.name %>
</p>

<%= link_to 'Edit', edit_feedback_form_path(@feedback_form) %> |
<%= link_to 'Back', feedback_forms_path %>
<hr>
<%= render @feedback_form.questions, feedback_form: @feedback_form, editable: false %>